@charset "UTF-8";
.v_align_m{
vertical-align:middle;
}
.f_bold{
	font-weight:bold;
}
.tx_center{
	text-align:center;
}

.tx_left{
	text-align:left;
}

.tx_right{
	text-align:right;
}

.tx_justify{
	text-align:justify;
}

	
.tx_color_1{
	coor:#8e44ad;
}
.bg_color_white{
	background-color:#FFF;
}

.bg_color_1{
	background-color:#D599B1;
}
.bg_color_2{
	background-color:#8F6D92;
}

.bg_color_3{
	background-color:#93BAD1;
}

.bg_color_4{
	background-color:#DCDEEF;
}

.bg_color_5{
	background-color:#f6f5fb;
}


#subheader_title {
	padding-top: 55px;
	padding-left: 20px;
}
#pagetitle {
	text-align: left !important;
}
#page_header {
	min-height: 150px !important;
}

.header_clearfix_1{
	width:100%;
	height:10px;
	float:none;
	clear:both;
}

.img_v_align{
	width:80%; max-height:100px;  left:0px; right:0px; position:absolute; top:0px; bottom:0px; margin:auto; 
}

@media screen and (min-width: 768px) {
	.img_v_align{
		width:95%; 
	}
	.header_clearfix_1{
		height:180px;
	}
}




.table_content{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5d7ec+0,f6f5fb+100&1+0,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(213,215,236,1) 0%, rgba(246,245,251,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(213,215,236,1) 0%,rgba(246,245,251,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(213,215,236,1) 0%,rgba(246,245,251,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d7ec', endColorstr='#00f6f5fb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.table_content{
	width:100%;
	border-collapse:collapse;
	
}

.table_content thead tr td{
	padding:5px;
	font-size:14px;
	color:#FFF;
}
.table_content thead tr td{
	border:solid 1px #f5f5f5;
}
.table_content tbody tr td{
	padding:5px 7px ;
	font-size:13px;
	border:solid 1px #f5f5f5;
	color:#000;
}

@media screen and (min-width: 768px) {
.table_content thead tr td{
	font-size:16px;
	
}
	
	
#subheader_title {
	padding-top: 170px;
}
#pagetitle {
	text-align: center !important;
}
#page_header {
	min-height: 300px !important;
}
}
